<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IProxy" />
   </basicHttpBinding>
  </bindings>
	 <behaviors>
		 <serviceBehaviors>
			 <behavior name="debugBehavior">
				 <!-- Set includeExceptionDetailInFaults to true for debugging purposes -->
				 <serviceDebug includeExceptionDetailInFaults="true" />
			 </behavior>
		 </serviceBehaviors>
	 </behaviors>
  <client>
   <endpoint address="http://localhost:8090/MyService/Proxy/" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IProxy" contract="ProxyService.IProxy"
    name="BasicHttpBinding_IProxy" />
  </client>
 </system.serviceModel>
</configuration>

